@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --text-color: #ffffff;
  --background-color: #f0f0f0;
  --border-radius: 12px;
  --padding-large: 20px;
  --padding-medium: 15px;
  --padding-small: 10px;
  --gap-large: 30px;
  --gap-medium: 20px;
  --gap-small: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.error-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: url('./src/assets/404back.png') no-repeat center center/cover;
  
}

.error-content {
  max-width: 50%;
  text-align: center;
}

.error-title {
  font-size: 120px;
  font-weight: bold;
}

.error-message {
  font-size: 20px;
  margin: 10px 0;
}

.error-promo {
  font-size: 16px;
  margin: 10px 0;
}

.booking-form {
  background-color: #1a1a1a;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 450px;
  width: 100%;
  margin-right: 320px;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
}

textarea {
  resize: none;
  height: 80px;
}

.btn {
  background-color: #ff007f;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e60073;
}